.heading {
  margin-bottom: 30px;
}

.heading .text1 {
  font-size: 32px;
  line-height: 1.2;
  color: #e0e0e0;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.heading .text2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.334;
  color: #70d8bd;
}

.heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_button {
  position: absolute;
  top: 20px;
  left: 10px;
  background-color: #1f2a40;
  color: #ffffff;
}

.card {
  background-color: #1f2a40;
  height: 340px;
}

@media (min-width: 1200px) {
  .menu_button {
    display: none;
  }
  .sidebar_container_2 {
    display: none;
  }
}
@media (max-width: 1199px) {
  .app {
    padding-inline: 40px;
  }
  .sidebar_container_1 {
    display: none;
  }
}
@media (max-width: 575px) {
  .heading {
    margin: 0px;
  }
  .heading .text2 {
    display: none;
  }
  .app {
    padding-inline: 10px;
  }
  .menu_button {
    display: none;
  }
}
