.child_section_one {
  margin-top: 25px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.child_section_one p {
  margin: 0px;
  color: #44c9bd;
  font-weight: 700;
}

.child_section_one span {
  color: #ffffff;
  font-weight: 600;
}

.child_section_two {
  margin-bottom: 25px;
}

.child_section_three {
  margin-top: 50px;
}

.profile_image {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border-radius: 50%;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_image span {
  color: #3e4396;
}

.heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.menu_button {
  position: absolute;
  top: 20px;
  left: 10px;
  background-color: #1f2a40;
  color: #ffffff;
}

.card_container {
  padding: 20px;
}

.head {
  min-height: 50px;
  background-color: #3e4396;
}

.card {
  background-color: #2e3a52 !important;
  color: #ffffff !important;
}

.lead_description {
  font-size: 16px;
}

.card_footer {
  background-color: #41557c;
}

.badge {
  font-size: 12px;
}

.edit_agent_btn {
  border: 1px solid #70d89d;
  color: #70d89d;
}

@media (min-width: 700px) {
  .card_wrapper_2 {
    display: none;
  }
}
@media (min-width: 1200px) {
  .menu_button {
    display: none;
  }
  .sidebar_container_2 {
    display: none;
  }
}
@media (min-width: 1600px) {
  .card_wrapper {
    display: none;
  }
}
@media (min-width: 1700px) {
  .select {
    display: none !important;
  }
}
@media (max-width: 1599px) {
  .unsort_btn_1 {
    display: none;
  }
  .table {
    display: none;
  }
  .clear_filter_btn_1 {
    display: none;
  }
}
@media (max-width: 1199px) {
  .app {
    padding-inline: 40px;
  }
  .sidebar_container_1 {
    display: none;
  }
}
@media (max-width: 699px) {
  .table_2 {
    display: none;
  }
}
@media (max-width: 575px) {
  .heading_container {
    justify-content: flex-end;
  }
  .app {
    padding-inline: 10px;
  }
  .menu_button {
    display: none;
  }
}
@media (max-width: 450px) {
  .lead_description {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .lead_description {
    font-size: 13px;
  }
}
