.app {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.content {
  height: 100%;
  width: 100%;
}

.main_section {
  margin: 20px;
}

.heading {
  margin-bottom: 30px;
}

.heading .text1 {
  font-size: 32px;
  line-height: 1.2;
  color: #e0e0e0;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.heading .text2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.334;
  color: #70d8bd;
}

.heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading_container .add_people_btn {
  border: 1px solid #70d89d;
  color: #70d89d;
}

.heading_container .add_people_btn:hover {
  color: #141B2D;
}